html {
    font-size: 62.5%;
}
main {
    margin: 0 auto;
}

:root {
    --color-primary: #131318;
    --color-secondary: #FF5400;
    --font-secondary-color: #FFF;
    --font-primary:'Mulish', sans-serif;
    --font-secondary:'Inter', sans-serif;
  }
 
/* component Button */
.btn {
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    outline: 0;
    padding: 1.7rem 7.7rem;
    text-align: center;
    white-space: nowrap;
  }
  .btn--big {
    background: var(--color-secondary);
    color: #fff;
    margin-top: 1.6rem;
  }
  .btn--secondary {
    background: var(--color-secondary);
    color: #fff;
  }
  /* navigation bar */
  .navigationBar {
    height: 64px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 2.1rem;
  }
  .navigationBar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.navigationBar-left > img {
    padding: 0rem 1rem 0 2rem;
    width: 29px;
    height: 33px;
}
.navigationBar-left > h2 {
    padding: 0rem 1rem 0 2rem;
}
.navigationBar-left h2 span {
    color: var(--color-secondary);
}
.navigationBar-right i {
    width: 24px;
    height: 24px;
}
.nav-group {
    display: none;
}

@media screen and (min-width: 601px) {
    .navigationBar{
        width: 1170px;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    .navigationBar-right .nav-icon {
        display: none;
    }
    .navigationBar-right .nav-group{
        display: flex;
        flex-direction: row;
    }
    .navigationBar-right .nav-group .home {
        color: var(--color-secondary);
        font-weight: 700;
    }
    .nav-group a {
        padding-right: 44px;
        font-family: var(--font-primary);
        color: var(--color-primary);
        font-size: 1.8rem;
        font-weight: 400;
        text-decoration: none;
    }
    .navigationBar-left h2 {
        font-size: 3.6rem;
    }
   
  }
/* first banner */

.banner--1 {
    background-image: url(../images/group131.png);
    width: 335px;
    height: 483px;
    margin: 0 auto;
    border-radius: 16px;
    color: var(--font-secondary-color);
}
.banner--1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--font-primary);

}
.banner--1-content h2 {
    font-size: 2.2rem;
    font-weight: 800;
    margin: 0;
    padding-top: 3.2rem;

}
.banner--1-content p {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    padding: 1rem .5rem 3rem .5rem;

}
.search {
    width: 287px;
    height: 288px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
}
.search--place {
    padding: 1.6rem 0;
}
.search--place input {
    padding: 1.6rem  9.5rem 1.6rem 1.5rem;
    border-radius: 8px;
    border: 0;
}
.btn {
    padding: 1.7rem 6.7rem;
  }
@media screen and (min-width: 601px) {
    .banner--1 {
        background-image: url(../images/group13.png);
        width: 1170px;
        height: 500px;
        margin: 0 auto;
        border-radius: 16px;
        color: var(--font-secondary-color);
    }
    .search--content {
        flex-direction: row;
        align-items: center;
        color: rgba(19, 19, 24, 0.50);
        padding-top: 0;

    }
    .search {
        width: 800px;
        height: 84px;
        padding-top: 0rem;   
    }

    .btn {
        margin: 0rem 0rem 0rem 0.5rem;
        padding: 1.7rem 1.7rem;
    }
    .search--place input {
        padding: 1.6rem  0rem 1.6rem 1.2rem;
        border-radius: 8px;
        border: 0;
        font-size: 1.6rem;
        margin: 1rem;
    }
    .banner--1-content h2 {
        font-size: 6.4rem;
        margin: 4rem 0rem 1rem 0rem;
    }
    .banner--1-content p {
        font-size: 1.6rem;
    }
    .search {
        margin-top: 3rem;
    }

}

/* First Card */

.card {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding: 1rem;
}
.card .description h2 {
    font-weight: 800;
    font-size: 2rem;
    color: var(--color-primary);
}
.card .description > p, li, p {
    font-weight: 400;
    font-size: 1.4rem;
    padding: 1rem 0rem;
}
.btn {
    margin-bottom: 4rem;
}
@media screen and (min-width: 601px) {
    .card {
        margin: 3rem auto;
        display: flex;
        flex-direction: row;
        font-family: var(--font-primary);
        color: rgba(19, 19, 24, 0.70);
        width: 1170px;
    }
    .btn {
        margin-top: 4rem;
    }
}
/* Gallary */

.gallary{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
  }
  .gallary--description {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .gallary--description h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-primary);
  }
  .gallary--description p {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
  }
  .gallary .gallary--image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .gallary .gallary--image img{
    width: 435px;
    height: 176px;
    margin-bottom: 1.6rem;
    border-radius: 16px;

  }
  @media screen and (min-width: 601px) {
    .gallary{
        width: 1170px;
    }
    .gallary .gallary--image {
        display: grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 573px 573px;
        gap: 1.4rem;
        width: 1170px;
    }
    .gallary .gallary--image img{
        width: 555px;
        height: 290px;
        margin-bottom: 1.6rem;
        border-radius: 16px;

      }
      .gallary--description h2 {
        font-size: 4rem;
        margin-bottom: 0;
      }
  }

/* Quality */

.quality {
    margin: 0 auto;
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quality> h2 {
    font-size: 4rem;
    font-weight: 800;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 0;
}
.quality >p {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
}
.quality p {
    color: #5A5A5D;
    font-size: 1.4rem;
    line-height: 2.6rem;
}
.box {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 400px;
    height: 289px;
    padding: 1.5rem;
    margin: 1rem;
}
.quality i {
    margin-top: 1rem;
}
.quality--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.quality--card-last {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 400px;
    height: 289px;
    padding: 1.5rem;
    margin: 1.4rem auto;
    
}
.quality--card-last h3 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 0;
}
.box h3 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 0;
}
.box1 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
@media screen and (min-width: 601px) {
    .quality--card {
        flex-direction: row;
    }
    .box {
        width: 560px;
        height: 284px;
    }
    .quality--card-last{
        width: 560px;
        height: 284px;
    }

}
/* Container */
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.container--content {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}
.container--content button {
    width: 174px;
    margin-top: 0;
}
.container iframe {
    border-radius: 10px;
}
.container .video {
    margin: 0 auto;
}
.container--content li {
    color: #131318;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
}
.container--content p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin: 0;
}
.container--content h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px; /* 150% */
    margin-bottom: 0;

}
@media screen and (min-width: 601px) {
    .container {
        width: 1170px;
        flex-direction: row;
    }
    .container--content {
        width: 530px;
      
    }
    .container--content h2 {
        font-size: 4rem;
        line-height: 5rem;
    }
    .container iframe {
        width: 520px;
        height: 400px;
        margin-top: 3rem;
        
    }
}

/* Last Card */
.card--last {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.newsletter {
    height: 380px;
    width: 400px;
    border-radius: 16px;
    margin: 2.4rem auto;
    border: 1px solid #FF5400;
    font-family: var(--font-primary);
    padding-left: 2rem;
}
.newsletter h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-primary);
}
.newsletter .line {
    width: 315px;
    margin: 0;
}
.newsletter p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #5A5A5D;
}
.newsletter input {
    display: block;
    padding: 2.2rem 19rem 2.1rem 1.5rem;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 2rem;
}
.newsletter input::placeholder {
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
}
.newsletter .btn {
    font-size: 2rem;
    font-weight: 800;
    padding: 1.7rem 11.2rem;
    margin-top: 2rem;
    margin-left: 0%;
}
.card--last-image{
    background-image: url(../images/rectangle81.png);
    height: 420px;
    width: 435px;
    border-radius: 16px;
    margin: 2.4rem auto;
    position: relative;
    font-family: var(--font-primary);
}

.card--last-image h2{
    font-size: 2rem;
    font-weight: 800;
    color: var(--font-secondary-color);
    text-align: center;
    margin: 0;

}
.card--last-image h4{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--font-secondary-color);
    text-align: center;

}
.card--last-inside {
    width: 250px;
    height: 90px;
    background-color: var(--color-secondary);
    position: absolute;
    left: 180px;
    top: 275px;
    border-radius: 10px;
    transform: rotate(-30deg);

}
@media screen and (min-width: 601px) {
    .card--last {
        flex-direction: row;
        width: 1170px;
        margin: 0 auto;
    }
    .newsletter {
        width: 474px;
        height: 420px;
    }
    .card--last-image {
        width: 672px;
        margin-left: 2.4rem;
    }
    .card--last-inside {
        left: 400px;
    }
}

/* Footer */
footer {
    margin: 0 auto;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    font-family: var(--font-primary);
    margin: 0 auto;
}
.footer .navigationBar-left {
    display: flex;
    justify-content: center;
    font-size: 2.1rem;
    font-weight: 800;
    padding-top: 3rem;
}
.footer p {
    color: #5A5A5D;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
.footer--social {
    margin-bottom: 2rem;
}
.footer--social a i {
    padding: 1rem;
}
.line {
    background: rgba(19, 19, 24, 0.10);
    width: 335px;
    height: 1px;
    margin: 0 auto;
}
@media screen and (min-width: 601px) {
    .line {
        width: 872px;
    }
    .footer--social>a>i {
        width: 50px;
        height: auto;
    }
}
/* The end for now */